@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container-fluid justify-content-center align-items-middle" >
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center bg-dark">
                    <div class="card-body ">
                        <h1 class="display-4 text-light">Welcome to Admin Dashboard</h1>
                        <h2 class="text-warning fw-bold">Admin </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>