@{
    ViewData["Title"] = "Home Page";
}
<!-- <style>
    .image
    {
        height:10px;
        weight:10px;
    }
</style> -->
<div class="text-center text-light ">
    <h1 class="display-4">Welcome to</h1>
    <p><h2>Employee Payroll Management System</h2></p>
</div>